## Location of GXL library jar file
gxl.jar=${user.home}/gxl-0.92/gxl.jar

## Location of Soot classes jar file
#soot.jar=${user.home}/sootclasses-nightly.jar
soot.jar=${user.home}/soot/classes

## Location of Paddle classes jar file
paddle.jar=${user.home}/paddle/classes

## Location of StarJ classes jar file
starj.jar=${user.home}/starj.jar

